<h1><%= @recipe.name %></h1>
<h3>By <%= @recipe.user.username %></h3>
<% RecipesIngredient.where(recipe_id: @recipe.id).each do |ingredient| %>
  <p>
    <%= "#{ingredient.amount} #{ingredient.unit_of_measure} #{ingredient.ingredient.name}" %>
    </p>
<% end %>
<p>
  <%= @recipe.directions %>
</p>
<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Recipe" />
</form>

<form method="get" action="/recipes/<%= @recipe.id %>/edit">
  <input type="submit" value="Edit Recipe" />
</form>
