<h1><%= @recipe.name %></h1>
<div class="sidebar" >
  <p>
    Prep. Time: <%= @recipe.prep_time %><br />
    Cook Time: <%= @recipe.cook_time %><br />
    Cuisine Type: <%= @recipe.cuisine_type %><br />
    Meal Type: <%= @recipe.meal_type %><br />
    Dish Type: <%= @recipe.dish_type %><br />
    </p>
  </div>
<h3>By <%= @recipe.user.username %></h3>

<div style="display: inline-block; margin-bottom: 20px; margin-top: 20px;">
<% RecipesIngredient.where(recipe_id: @recipe.id).each do |ingredient| %>
    <%= "#{ingredient.amount} #{ingredient.ingredient.name}" %><br />
<% end %>
</div>

  <p>
    <%= @recipe.directions %>
    </p>
</p>
